body {
    margin: 0px;
    font-family: 'Raleway', sans-serif;
}
.line {
    width: 100%;
    height: 8px;
    background-color: #a292b3;
}
.hat {
    /*border: 2px solid black;*/
    display: flex;
    align-items: center;/*выравниваем по центру*/
    justify-content: space-between; /*разводит по углам*/
    margin: 0 auto; /*выравнивание по центру*/
    color: #545454;
}


.buttons{
display: flex;
align-items: center;
width: 600px;
justify-content: space-between; /*разводит по углам*/
}

.buttons-items {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.button-img {
    margin-right: 10px;
}
.container {
    width: 1020px;
    margin: 0 auto;
}

.slider {
height: 485px;    
background: url('../images/banner.jpg');/* "../" возвращает в корень папки*/
background-repeat: no-repeat; /*отключение повторени картинки для заполнения фона*/
background-position: center; /*позиционирование большей картинки*/
background-size: cover; /*заполняет всю область*/
position: relative;
color: white;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column; /*переворачивает главную ось. на перпендикулярную ей*/
font-size: 23px;
}
.slider-button{
    width: 35px;
    height: 65px;
    background-color: #a292b3;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: calc(50% - 32.5px);
    font-size: 23px;
}
.button-left {
    left: 0px;
}
.button-right {
    right: 0px;
}
.button-right > img {
    transform: rotate(180deg);
}
.slider-tittle {
    font-size: 84px;
    margin-bottom: 27px;
    text-shadow: -4px 4px 0 rgba(162, 146, 179, 0.7);
}
.text {
    border-top: 1px solid #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
    padding: 19px 57px;
    margin-top: 40px;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 25px; /*отсуп между строками междустрочный интервал*/
    font-style: italic;

}
.text_purpur {
    color: #82699d;
}

.info {
display: flex;
margin-top: 32px;

}

.info_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 40px;
    box-sizing: border-box;
    position: relative;
}

.info_title {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 33px;
}
.info_decs {
    font-size: 11px;
}

.info_more {
    font-size: 11px;
  
    width: 90px;
    height: 15px;
    cursor: pointer;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.info_more::after { /*псевдоэлемент*/
    content: "\27A0"; /*добавили спецсимвол*/
    font-size: 20px;
    position: absolute;
    right: 7px;
    top: -8px;
}

.featured {
    font-size: 18px;
    margin: 55px 0;

}

.clients {
    background-color: #f5f5f5;
    display: flex;
    height: 70px;

}
.client-item {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e4e4e4;
    box-sizing: border-box;
    border-right: none;
}
.client-item:last-child { /*для последнего элемента группы*/
    border 1px solid #e4e4e4;
}